body{
    margin: 0;
    font-family: Poppins;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container1{
    margin: auto;
    max-width: 95vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
    background-color: #353432;
    color: white;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: 1.6rem;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    padding-top: 10px;
    font-weight: 500;
    font-size: large;
    color: black;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: large;
    padding-top: 10px;
    color: red;
    font-weight: 10px;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.listProduct .item button:hover{
    background-color: #947330;
}
/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(1, 1fr);
    }
    .cartTab{
        width: 340px;
        right: -340px;
    }
    body.showCart .cartTab{
        right: 0;
    }
    .menu-toggle {
        margin-right:35px;
    }
}

.hero {
    background-image: url('hero.webp');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 120px 0;
}

.hero h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.hero p {
    margin-bottom: 40px;
    font-size: 18px;
}

.search {
    background-color: #f9f9f9;
    padding: 40px 0;
    color: black;

}

.search .container {
    text-align: center;
}

.search h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.search form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input[type="text"] {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search select {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search button:hover {
    background-color: #555;
}

/* Slideshow Section Styles */
.slideshow {
    background-color: #f9f9f9;
    padding: 80px 0;
}

.slideshow h2 {
    text-align: center;
    margin-bottom: 40px;
}

.carousel {
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
}

.carousel img {
    width: 300px;
    margin: 0 20px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.carousel img:hover {
    transform: scale(1.1);
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}
/* Footer Styling */

.footer {
    padding: 50px 0;
    color: white;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-bottom: 20px;
}

.footer-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-section p {
    font-size: 16px;
    line-height: 1.6;
}

.contact {
    margin-top: 15px;
}

.contact span {
    display: block;
    margin-bottom: 8px;
}

.social-media {
    margin-top: 15px;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
    transition: color 0.3s ease;
    color: cyan;
}

.social-media a:hover {
    color:blue;
}
@media only screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        margin: 0;
        margin-bottom: 20px;
    }
}

/* Styling for the Quick Links section */
.footer-section.quick-links {
    flex: 1;
}

.footer-section.quick-links h2 {
    color: white;
    margin-bottom: 10px;
}

.footer-section.quick-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section.quick-links ul li {
    margin-bottom: 5px;
}

.footer-section.quick-links ul li a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: cyan;
}

.footer-section.quick-links ul li a:hover {
    color: blue;
}


.contact-form {
    position: relative;
}

.contact-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.contact-input:focus {
    border-color: #3498db;
}

.contact-btn {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #2980b9;
}

.contact-btn i {
    margin-right: 10px;
}

.contact-success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.contact-success.show {
    opacity: 1;
    visibility: visible;
}


.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

/* Social Media Icons Styles */
.social-media {
    text-align: center;
    margin-top: 20px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}


.btn {
    display: inline-block;
    background-color: #E8BC0E;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
}

.btn:hover {
    background-color: #cc5500;
}


.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    background-color: #f1f1f1;
}

.menu:hover .menu-content {
    display: block;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 128, 0, 0.8); /* Green color */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}

.notification.show {
    display: block;
}
